main{
    font-family: 'Indie Flower';
    padding: 80px;
    background-color: #666666;
    height: 100vh;
    box-sizing: border-box;
    
}

h2{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}

p{
    font-size: 30px;
    text-align: center;
}

.post-it{
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    background-color: aliceblue;
}