main{
    font-family: 'Indie Flower';
    padding: 20px;
    background-color: #666666;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

h2{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}

p{
    font-size: 30px;
    text-align: center;
}

.post-it{
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    margin:30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.309);
}

.yellow{
    background-color: #f9fac8;
    rotate: 355deg;
}

.green{
    background-color: #cafccb;
    rotate: 5deg;
}

.purple{
    background-color: #c9c9f7;
    rotate: 348deg;
}